.item_details {
  padding: 50px 0;
  margin-top: 150px;
}

.item_details .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_details .imgs_item {
  width: 40%;
}
.item_details .imgs_item .big_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.item_details .imgs_item .big_img img {
  max-height: 450px;
  width: auto;
  margin: 0 auto;
}
.item_details .imgs_item .sm_img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.item_details .imgs_item .sm_img img {
  width: 30%;
}
.item_details .details_item {
  width: 58%;
}
.item_details .details_item .name {
  margin-bottom: 30px;
  color: var(--main_color);
}

.item_details .details_item .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}

.item_details .details_item .stars svg {
  fill: #f8d941;
  font-size: 20px;
}

.item_details .details_item .price {
  font-size: 22px;
  margin: 20px 0;
}

.item_details .details_item h5 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
}

.item_details .details_item .desc {
  line-height: 1.5;
}
.item_details .details_item .stock {
  font-size: 20px;
  margin-top: 20px;
}
.item_details .details_item .btn {
  font-size: 18px;
  padding: 10px 15px;
  border: 1px solid var(--main_color);
  transition: 0.3s ease-in-out;
}
.item_details .details_item .btn.in-cart {
  background-color: transparent;
  color: var(--main_color);
  pointer-events: none;
}
.item_details .details_item .btn svg {
  font-size: 22px;
}

.item_details .details_item .icons {
  display: flex;
  gap: 15px;
  transition: 0.3s;
  margin: 20px 0;
}

.item_details .details_item .icons span {
  width: 40px;
  height: 40px;
  background-color: var(--bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}
.item_details .details_item .icons span svg {
  font-size: 22px;
}

.item_details .details_item .icons span:hover svg {
  fill: var(--white_color);
  transition: 0.3s;
}

.item_details .details_item .icons span:hover {
  background-color: var(--main_color);
}
.details_item .icons span.in-fav {
  background-color: var(--main_color);
}
.details_item .icons span.in-fav svg {
  fill: var(--white_color);
}
